// import all the partials
@import "base/base";
@import "base/animations";
@import "base/utilities";
@import "base/typography";
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/functions";
@import "pages/home";

body {
    font-family: $ff-regular;
    font-size: 1rem;
    font-weight: $fw-regular-400;
    color: $clr-neutral-300;
    line-height: 1.7;
    padding: 1.875rem;
}

.header {
    height: 95vh;
    /* Overlay color on the background image */
    background-image: linear-gradient(
            to right bottom,
            $clr-primary-100-80,
            $clr-primary-900-80
        ),
        url(../img/hero.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    /* To cut the image */
    clip-path: polygon(0% 0%, 100% 0%, 100% 75vh, 0% 100%);

    &__logo-box {
        /* 
        origin coordinate is at the top-left corner of the parent element,
        if the parent element has a position of reletive 
        */
        position: absolute;
        top: 2.5rem;
        left: 2.5rem;
    }
    &__logo {
        height: 2.25rem;
    }

    &__text-box {
        /* To position the heading in the center of the page */
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        /* To center the content of the box */
        text-align: center;
    }
}

.heading-primary {
    color: $clr-neutral-100;
    text-transform: uppercase;
    /* To fix the slight up jerk caused during animation */
    backface-visibility: hidden;
    margin-bottom: 3.75rem;

    &--main {
        display: block;
        letter-spacing: 2.25rem;
        font-size: 3.75rem;
        font-weight: $fw-regular-400;
        /* Animation to slide in the element when refreshed  */
        animation: moveInLeft 1s ease-out;
    }

    &--sub {
        display: block;
        letter-spacing: 1rem;
        font-size: 1.5rem;
        font-weight: $fw-bold-700;
        /* Animation to slide in the element when refreshed  */
        animation: moveInRight 1s ease-out;
    }
}

/* Styling buttons */
/* :link, :visited are pseudo classes */

.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2.5rem;
        /* Any high number for border-rafius will give the cute curve effect */
        border-radius: 10rem;
        /* Transition to make the control the translate */
        transition: all 0.2;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0.75rem 1.25rem hsla(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
    }

    &-white {
        background-color: $clr-neutral-100;
        color: $clr-neutral-300;
    }
}
