/* Styling buttons */
/* :link, :visited are pseudo classes */

.btn {
    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 2.5rem;
        /* Any high number for border-rafius will give the cute curve effect */
        border-radius: 10rem;
        /* Transition to make the control the translate */
        transition: all 0.2;
    }

    &:hover,
    &:focus {
        outline: none;
        transform: translateY(-3px);
        box-shadow: 0 0.75rem 1.25rem hsla(0, 0, 0, 0.2);
    }

    &:active {
        transform: translateY(1px);
        box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.2);
    }

    &-white {
        background-color: $clr-neutral-100;
        color: $clr-neutral-300;
    }

    &-green {
        background-color: $clr-primary-500;
        padding: 1rem 2.5rem;
        color: $clr-neutral-100;
        border-radius: 10rem;
        border: none;
        box-shadow: 0 0.5rem 1.25rem hsla(0, 0, 0, 0.2);
    }
}

.btn-text {
    &:link,
    &:visited {
        font-size: 1rem;
        color: $clr-primary-900;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid currentColor;
        padding: 3px;
        transition: all 0.2s;
    }
    &:hover {
        background-color: $clr-primary-900;
        color: $clr-neutral-100;
        box-shadow: 0 1rem 2rem rgba($clr-neutral-900, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($clr-neutral-900, 0.15);
        transform: translateY(1px);
    }
}
