.form {
    &__group:not(:last-child) {
        margin-bottom: 1.25rem;
    }
    &__input {
        font-size: 1rem;
        width: 90%;
        display: block;
        font-family: inherit;
        color: inherit;
        padding: 1rem 1.25rem;
        border-radius: 2px;
        border: none;
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom: 3px solid transparent;
        transition: all 0.4s;

        &:focus {
            outline: none;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0.25rem 0.5rem lighten($clr-neutral-900, 15%);
            border-bottom: 3px solid $clr-primary-900;
        }

        &:focus:invalid {
            box-shadow: none;
            border-bottom: 3px solid $clr-secondary-900;
        }

        &::-webkit-input-placeholder {
            color: $clr-neutral-300;
        }
    }

    &__label {
        font-size: 0.75rem;
        font-weight: $fw-bold-700;
        margin-left: 1.25rem;
        margin-top: 0.5rem;
        display: block;
        transition: all 0.4s;
    }

    &__input:placeholder-shown + &__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }

    &__radio-group {
        width: 49%;
        display: inline-block;
    }

    &__radio-label {
        font-size: 1rem;
        cursor: pointer;
        position: relative;
        padding-left: 2rem;
    }

    &__radio-button {
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        border: 5px solid $clr-primary-100;
        display: inline-block;
        position: absolute;
        left: 0;
        top: -4px;

        &::after {
            content: "";
            display: block;
            height: 0.75rem;
            width: 0.75rem;
            border-radius: 50%;
            background-color: $clr-primary-100;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.4s;
        }
    }

    &__radio-input {
        display: none;
    }
    &__radio-input:checked + &__radio-label &__radio-button::after {
        opacity: 1;
    }
}
